*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #0084fd;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.head-mobile{
    display: none;
}
.head{
    display: block;
}
.container-header{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 18px;
     margin-right: 35px; 
}
.link2{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 7px 12px;
    border-radius: 20px;
}
.section1{
    margin-top: 130px;
    width: 100%;
    /* height: 900px; */
    padding-bottom: 70px;
}
.container{
    /* height: 750px; */
    width: 80%;
    margin: 0 auto;
}
.cards{
    /* background-color: blueviolet;  */
    display: flex;
    flex-wrap: wrap; 
    margin: auto;
    height: 100%;
    width: 100%;
   
    
    
}
.card-big{
    background-color: #b5ddff;
      width: calc((100% / 3  ) *2  - 20px); 
      margin: 10px;
    /* height: 340px; */
    display: flex;
    flex-wrap: nowrap;
    border-radius: 20px;
    
}
.card{
    background-color: #b5ddff;
     width: calc(100% / 3 - 20px ); 
     margin: 10px;
    /* height: 340px;  */
     border-radius: 20px;
     padding-bottom: 30px;
     
}
.text2-card{
    width: calc(50% - 10px);
    margin: 0 10px;
    height: 100%;
    /* background-color: brown; */
    padding: 30px 20px;

}
.blue-title{
    color: #0084fd;
    font-size: 28px;
    text-align: left;

}
.apple{
    background-color: #0084fd;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;

}
.marg{
     margin-right: 5px; 
}
.parag{
    font-size: 18px;
    color: #6b8296;
    margin: 30px 0;
    line-height: 25px;
}
.parag-big{
    font-size: 18px;
    text-align: left;
    color: #6b8296;
    line-height: 25px;
    margin: 20px 0;

}
.parag2{
    font-size: 18px;
    text-align: left;
    color: #6b8296;
    margin: 30px 0;


}
.img2-card{
    width: calc(50% - 10px);
    margin: 0 10px;
    height: 100%;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.phone{
    width: 55%;
}
.img-card{
    width: calc(100% - 20px);
    height: calc(50% - 20px); 
    margin: 10px 10px; 
   /* background-color: brown; */
    

}
.file-center{
    color: #0084fd;
    font-size: 80px;
    text-align: center;
    padding-top: 20px;
   
}
.center{
    text-align: center;
}

.text-card{
    width: calc(100% - 20px);
    height: calc(50% - 20px); 
    margin: 10px 10px; 
    
    /* background-color: chartreuse; */
}
.section2{
    background-color:#9792e4 ;
    width: 100%;
    /* height: 1200px; */
    padding-top: 100px;
    padding-bottom: 70px;
    margin-bottom:50px ;
}
.container-s2{
    /* background-color: aqua; */
    /* height: 1000px; */
    width: 60%;
    margin: auto;
    display: flex;
    
}
.col{
    height: 100%;
    width: calc(50% - 10px);
    margin: 0px 10px;
    /* background-color: brown; */
   
}
.col-flex{
    height: 100%;
    width: calc(50% - 10px);
    margin: 0px 10px;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
   
}
.col-img{
    width: 100%;
    height: 50%;
    /* background-color: #0084fd; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-text{
    width: 100%;
    height: 50%;
    /* background-color: chartreuse; */
}
.planning1{
    width: 80%;
}
.title-planning{
    font-size: 40px;
    color: white;
    padding: 0px 50px;
    padding-top: 120px;
    padding-bottom: 60px;
}
.p-planning{
    font-size: 20px;
    color: white;
    padding: 0px 50px;
    text-align: left;
    line-height: 30px;

}
.cont-planning{
    background-color: white;
    height: 60%; 
    width: 80%;
    border-radius: 20px;
    
}
.planning2{
    width: 100%;
 
    text-align: center;
}
.box-planning2{
    width: 60%;
    margin: auto;
    height: 300px;
    /* background-color: blue; */

}
.text-box2{
    width: 70%;
    margin: auto;
    /* height: 250px; */
    /* background-color: cadetblue; */
    text-align: center;
}
.text-em{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 50px;
}
.img-title{
    color: black;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}
.arrow{
    background-color: #9792e4;
    border-radius: 100%;
    padding: 15px 20px;
    text-align: center;
    font-size: 25px;
    color: black;
}
.section3{
    background-color:white;
    width: 100%;
    /* height: 1500px; */
    
}
.container-test{
     /* background-color: chartreuse;  */
    /* height: 1200px;   */
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
   
    
}
.text-part{
    width: 100%;
    /* height: 200px; */
     /* background-color: bisque;  */
    text-align: center;
    margin-bottom: 30px;
}
.box-expert{
    width: 60%;
    height: 100%;
    margin: auto;
}
.test1{
    font-size: 20px;
}
.expert{
    font-size: 40px;
    color: #9792e4;
    margin: 25px 0;
}
.testimonials{
    width: 100%;
    background-color: #9792e4;
    /* height: 250px;     */
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 30px;
    display: flex;
    margin-bottom: 50px;
    

}

.p-expert{
    font-size: 18px;
    
}
.boximg{
    width: 15%;
    height: 90%;
    margin: auto;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial1{
    width: 180px;
      height: 180px;  
   border-radius: 100%; 
   object-fit: cover; 
    
}
.textimg{
    width: 80%;
    height: 100%;
    margin: auto ;
    /* background-color: blue; */
    margin-top:30px
  
}
blockquote {
    border:none;
    font-family:Georgia, "Times New Roman", Times, serif;
    /* margin-bottom:-30px; */
    quotes: "\201C""\201D""\2018""\2019";
    margin-bottom: 10px;
}

blockquote p {
font-size:18px;
color: white;
}

blockquote p:before { 
content: open-quote;
font-weight: bold;
font-size:30px;
color:white;
} 
blockquote p:after { 
content: close-quote;
font-weight: bold;
font-size:30px;
color:white;
  
}
.boximg2{
    width: 100%;
    height: 50%;
    margin: auto;
    margin-right: 10px;
    
    /* background-color: aqua; */
}
.name{
    color: white;
    font-size: 20px;
}
.section4{
    background-color: #9792e4; 
    width: 100%;
    /* height: 1150px; */
    padding-top: 50px;
    padding-bottom: 30px;
}
.container-benefits{
    /* background-color: #9792e4; */
    /* height: 1000px; */
    width: 80%;
    margin: auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    
}
.text-benefits{
    /* height: 100px; */
    width: 60%;
    margin: auto;
    /* background-color: aqua; */
    margin-bottom: 50px;
    font-size: 50px;
    color: white;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    /* height: 900px; */
    width: 100%;
    /* background-color: chocolate; */
    justify-content: space-between;
    
}
.box{
    width: calc(100% / 3 - 40px);
    margin:20px 0px;
    /* height: 450px ; */
    background-color: white;
    border-radius: 20px;
    padding: 40px;

}
.num{
    font-size: 80px;
    color:#9792e4; 
}
.quality{
    font-size: 25px;
    color:#9792e4; 
    
}
.box-more{
    color: white;
    background-color: #9792e4;
    padding: 10px 60px;
    border-radius: 20px;
    
}
.text-num{
    color: #a9a9a9 ;
    line-height: 25px;
    font-size: 18px;
    margin-top: 30px;
    text-align: left;
    margin-right: 80px;
    margin-bottom: 40px;
}
 .section5{
    /* background-color: chocolate;  */
    width: 100%;
    /* height: 900px; */
    margin-top: 100px;
} 
 .container-aboutus{
    /* background-color: brown;  */
     /* height: 800px;  */
     padding-bottom: 60px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
} 
.text-aboutus{
    /* height: 100%; */
    width: 65%;
     /* background-color: chartreuse;  */
    margin-right: 80px;
    padding-top: 30px;
    padding-bottom: 50px;
} 
.aboutus{
    font-size: 70px;
    color: #9792e4;
}
.p-aboutus{
    font-size: 20px;
    line-height: 40px;
    margin-top: 30px;
}
.linkedin-aboutus{
    height: 80%;
    width: 25%;
     /* background-color: blue;  */
}
.text-linkedin{
    color: #9792e4;
    font-size: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
}
.link4{
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}
.box-linkedin{
    width: 100%;
}
.linkedin{
    background-color: #9792e4;
    padding: 8px 8px;
    border-radius: 20px;
    text-align: center;
}
.box-img-aboutus{
    /* height: 300px; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.img-about{
    width: 90%;
    /* height: 250px; */
    border-radius: 100%;
}
.section6{
    background-color: #9792e4;
    width: 100%;
    /* height: 650px; */
    padding-top: 50px;
    padding-bottom: 50px;
} 
.text-start{
    font-size: 15px;
    text-align: center;
    color: lightgray;
}
.text-parag{
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
}
.cont-simple{
    width: 70%;
    /* height: 100px;
    background-color: blueviolet; */
    margin: auto;
    text-align: center;
}
.cont-free{
    width: 50%;
    /* background-color: chartreuse; */
    /* height: 400px; */
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text-parag2{
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: 50px;
}
.started{
    /* text-align: center;  */
    background-color: white;
     /* color: #9792e4;  */
      padding: 20px 60px;  
    border-radius: 40px;
    /* width: 150px;  */
    text-align: center;
    
}
.start-button{
    color: #9792e4;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.text-white{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.text-orange{
    font-size: 70px;
    color: orange;
    text-align: center;
    margin-top: 30px;
}
.linkk{
    color: white;
}



.container-start{
    width: 40%;
    /* height: 100%;
    background-color: aqua; */
    margin: auto;
    
}
footer{
    /* height: 250px; */
    width: 100%;
    background-color:#333333 ;
    padding-top: 20px;
    
}
  .container-footer{
    width: 40%;
     /* height: 100%; 
    background-color: brown;  */
    margin: auto;
}  
 .cont-footer{
    width: 50%;
    /* height: 100%;
    background-color: chartreuse;  */
    margin: auto;
    padding-top: 30px;
} 
.link-footer{
    color:#9792e4; 
    
}
.text-footer{
    text-align: center;
    color: white;
    font-size: 16px;
}
.padding{
    padding-bottom: 60px;

}
.padding2{
    padding-bottom: 30px;

}
/* tablet */
@media screen and (min-width:600px) and (max-width:980px){
    .container-header{
        height: 100%;
        width: 80%;
        margin: 0 auto;
        /* background-color: blueviolet; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .head{
        display: none;
    }
    .head-mobile{
        display: block;
    }
    .menu{
        color: white;
        font-size: 20px;
    }
    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: white;
         min-width: 80px; 
         font-size: 18px;
    }
    .dropdown-content a {
        color: black;
          padding: 12px 10px;  
         display: block; 
    } 
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
     .dropdown:hover .dropdown-content{
        display: block;
    }

    .container{
        width: 100%;
    }
    .text2-card{
        width: 100%;
        margin: 10 0px;
        height: 50%;
        display: block;
        /* background-color: brown; */
        /* padding: 30px 20px; */
        /* margin-bottom: 10px; */
    
    }
    .img2-card{
        width: 100%;
        margin:  0px;
        height: 50%;
        /* background-color: chartreuse; */
        display: flex;
        justify-content: center;
        align-items: flex-end;
       
    }
    .card-big{
        background-color: #b5ddff;
          width: calc((100% / 3  ) *2  -20px); 
           margin: 10px; 
        /* height: 340px; */
        display: block;
        border-radius: 20px;
    }
    .img-card{
        width: calc(100% - 20px);
        height: 25%; 
        margin: 10px 10px; 
       /* background-color: brown; */

    }
    .text-card{
        width: calc(100% - 20px);
        height: 70%; 
        margin: 10px 10px; 
        
        /* background-color: chartreuse; */
    }
    .container-s2{
        /* background-color: aqua; */
        /* height: 1000px; */
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .col{
        height: 50%;
        width:100%;
        margin: 0px 10px;
        /* background-color: brown; */
       
    }
    .col-flex{
        height: 100%;
        width: 100%;
        margin: 0px 10px;
        margin-top: 30px;
        /* background-color: brown; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-title{
        color: black;
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
    }
    .planning2{
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .box-planning2{
        width: 60%;
        margin: auto;
        height: 300px;
        /* background-color: blue; */
    
    }
    .text-box2{
        width: 70%;
        margin: auto;
        /* height: 250px; */
        /* background-color: cadetblue; */
        text-align: center;
        margin-top: 150px;
    }
    .text-em{
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        padding-bottom: 30px;
    }
    .container-s2{
        width: 100%;
    }
    .box-expert{
        width: 90%;
    }
    .container-test{
        /* background-color: chartreuse;  */
       /* height: 1200px;   */
       width: 100%;
       margin: 0 0px;
       display: flex;
       flex-wrap: wrap;
      
       
   }
   .testimonials{
    margin: 30px 10px;
    width: 100%;
   
   }
   .testimonial1{
    width: 125px;
    height: 125px;
    margin-left: 20px;

   }
   .textimg{
    margin-left: 40px;
   }
   .boximg{
    width: 20%;
   }
   .cont-planning{
    padding-bottom: 50px;
   }
   .container-benefits{
    /* background-color: #9792e4; */
    /* height: 1000px; */
    width: 90%;
    margin: auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    
}
.text-benefits{
    width: 100%;
    font-size: 40px;
  
}
.text-num{
    color: #a9a9a9 ;
    line-height: 25px;
    font-size: 18px;
    margin-top: 30px;
    text-align: left;
    width: 100%;
   
}
.row{
    display: flex;
    flex-wrap: wrap;
    /* height: 900px; */
    width: 100%;
    /* background-color: chocolate; */
    justify-content: space-between;
    
}

.box{
    width: calc(100% / 2 - 40px);
    margin:20px 0px;
    /* height: 450px ; */
    background-color: white;
    border-radius: 20px;
    padding: 40px;

}
.container-aboutus{
    /* background-color: brown;  */
     /* height: 800px;  */
     padding-bottom: 60px;
    width: calc(100% - 20px);
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
}
.text-aboutus{
    /* height: 100%; */
    width: 60%;
     /* background-color: chartreuse;  */
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
} 
.linkedin-aboutus{
    height: 100%;
    width: 30%;
     /* background-color: blue;  */
}
.text-linkedin{
    color: #9792e4;
    font-size: 30px;
    padding-top: 30px;
}
.box-linkedin{
    width: 100%;
    height: 100%;
}
.linkedin{
    background-color: #9792e4;
    /* padding: 8px 8px; */
    border-radius: 20px;
    /* text-align: center; */
    width: 150px;
}
.container-start{
    width: 70%;
    /* height: 100%;
    background-color: aqua; */
    margin: auto;
    
}
.cont-simple{
    width: 100%;
}
.cont-free{
    width: 100%;
}
.container-footer{
    width: 70%;
}

    
}
/* mobile */
@media screen and (min-width:200px) and (max-width:599px){
    body,html{
        overflow-x: hidden;
    }
    .container-header{
        height: 100%;
        width: 80%;
        margin: 0 auto;
        /* background-color: blueviolet; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .head{
        display: none;
    }
    .head-mobile{
        display: block;
    }
    .menu{
        color: white;
        font-size: 20px;
    }
    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: white;
         min-width: 80px; 
         font-size: 18px;
    }
    .dropdown-content a {
        color: black;
          padding: 12px 10px;  
         display: block; 
    } 
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
     .dropdown:hover .dropdown-content{
        display: block;
    }

    .container{
        width: 90%;
    }
    .text2-card{
        width: 100%;
        margin: 10 0px;
        height: 50%;
        display: block;
        /* background-color: brown; */
        /* padding: 30px 20px; */
        /* margin-bottom: 10px; */
    
    }
    .img2-card{
        width: 100%;
        margin:  0px;
        height: 50%;
        /* background-color: chartreuse; */
        display: flex;
        justify-content: center;
        align-items: flex-end;
       
    }
    .card-big{
        background-color: #b5ddff;
          width:100%; 
           margin: 10px; 
        /* height: 340px; */
        display: block;
        border-radius: 20px;
    }
    .card{
        width:100%;
    }
    .img-card{
        width: calc(100% - 20px);
        height: 25%; 
        margin: 10px 10px; 
       /* background-color: brown; */

    }
    .apple{
        background-color: #0084fd;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 30px;
        text-decoration: none;
        color: white;
        font-size: 18px;
    
    }
    .parag2{
        font-size: 18px;
        text-align: left;
        color: #6b8296;
        /* margin: 20px 0; */
        margin-top: 60px;
    
    
    }
    .parag{
        font-size: 18px;
        text-align: left;
        color: #6b8296;
        /* margin: 20px 0; */
        line-height: 25px;
        margin-top: 60px;
    }
    .parag-big{
        font-size: 18px;
        text-align: left;
        color: #6b8296;
        /* margin: 20px 0; */
        line-height: 25px;
        margin: 20px 0;

    }
    .text-card{
        width: calc(100% - 20px);
        height: 70%; 
        margin: 10px 10px; 
        
        /* background-color: chartreuse; */
    }
    .container-s2{
        /* background-color: aqua; */
        /* height: 1000px; */
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .col{
        height: 50%;
        width:100%;
        margin: 0px 10px;
        /* background-color: brown; */
       
    }
    .col-flex{
        height: 100%;
        width: 100%;
        margin: 0px 10px;
        margin-top: 30px;
        /* background-color: brown; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-title{
        color: black;
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
    }
    .planning2{
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .box-planning2{
        width: 60%;
        margin: auto;
        height: 300px;
        /* background-color: blue; */
    
    }
    .text-box2{
        width: 70%;
        margin: auto;
        /* height: 250px; */
        /* background-color: cadetblue; */
        text-align: center;
        margin-top: 0px;
    }
    .text-em{
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        padding-bottom: 30px;
    }
    .container-s2{
        width: 100%;
    }
    .box-expert{
        width: 90%;
    }
    .container-test{
        /* background-color: chartreuse;  */
       /* height: 1200px;   */
       width: 100%;
       margin:auto;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
      
       
   }
   .testimonials{
    display: block;
   
    width: 80%;
    height: 100%;
   
   }
   blockquote {
    text-align: center;
   }
   .name{
    display: flex;
    justify-content: center;
    text-align: center;
   }
   .box-img-aboutus{
    /* height: 300px; */
    width: 100%;
    display: flex;
    justify-content: left;
    padding-top: 30px;
}

   .testimonial1{
     width: 200px;
    height: 200px; 
   
 }
   .textimg{
    height: 50%;
    /* margin-left: 40px; */
   }
   .boximg{
    width: 50%;
    height: 40%;
   }
   .cont-planning{
    padding-bottom: 50px;
   }
   .container-benefits{
    /* background-color: #9792e4; */
    /* height: 1000px; */
    width: 90%;
    margin: auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    
}
.text-benefits{
    width: 100%;
    font-size: 40px;
  
}
.text-num{
    color: #a9a9a9 ;
    line-height: 25px;
    font-size: 18px;
    margin-top: 30px;
    text-align: left;
    width: 100%;
   
}
.row{
    display: flex;
    flex-wrap: wrap;
    /* height: 900px; */
    width: 100%;
    /* background-color: chocolate; */
    justify-content: space-between;
    
}

.box{
    width: 100%;
    margin:auto;
    margin-bottom: 30px;
    /* height: 450px ; */
    background-color: white;
    border-radius: 20px;
    padding: 40px;

}
.container-aboutus{
    /* background-color: brown;  */
     /* height: 800px;  */
     padding-bottom: 60px;
    width: 100% ;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.text-aboutus{
    /* height: 100%; */
    width:90%;
     /* background-color: chartreuse;  */
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    
} 
.linkedin-aboutus{
    height: 100%;
    width: 90%;
    margin: auto;
     /* background-color: blue;  */
}
.text-linkedin{
    color: #9792e4;
    font-size: 30px;
    padding-top: 30px;
}
.box-linkedin{
    width: 100%;
    height: 100%;
}
.img-about{
    width: 200px;
    /* height: 250px; */
    border-radius: 100%;
    text-align: left;
}
.linkedin{
    background-color: #9792e4;
    /* padding: 8px 8px; */
    border-radius: 20px;
    /* text-align: center; */
    width: 10px;
}
.container-start{
    width: 70%;
    /* height: 100%;
    background-color: aqua; */
    margin: auto;
    
}

.cont-simple{
    width: 100%;
}
.cont-free{
    width: 100%;
}
.cont-footer{
    width:100%;

} 
.container-footer{
    width: 70%;
}
    
}